<div class="container-fluid">
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
            <input ng-model="vm.filter" class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
            <button class="btn btn-outline-success my-2 my-sm-0" type="button">Buscar</button>
        </form>
        <a class="btn btn-outline-info" ui-sref="pedido.new">Novo registro</a>
    </nav>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Dh. Solic</th>
                <th scope="col">Dh. Entrega</th>
                <th scope="col">Estabelecimento</th>
                <th scope="col">Situação</th>
                <th scope="col">Observação</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="rec in vm.records">
                <th scope="row">{{rec.dhSolicitacao}}</th>
                <td>{{rec.dhEntrega}}</td>
                <td>{{rec.estabelecimento.nome}}</td>
                <td>{{rec.situacao.descricao}}</td>
                <td>{{rec.observacao}}</td>
                <td>
                    <a class="btn btn-sm btn-success" ui-sref="pedido.edit({id: rec.id})">Editar</a>
                    <button ng-click="vm.excluir(rec.id)" class="btn btn-sm btn-danger" type="button">Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>